* {
    font-family: 'Oswald', sans-serif;
}

header {
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(241, 5, 5);
    text-align: center;
}

.centered-image {
    display: block;
    margin: auto;
}

.centered-text {
    text-align: center;
}

.left-image,
.right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-image {
    left: 20%;
}

.right-image {
    right: 20%;
}